@charset "UTF-8";
.btn-var {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  /* create a small space when buttons wrap on 2 lines */
  margin: 2px 0;
  /* invisible border (will be colored on hover/focus) */
  border: solid 1px transparent;
  /* size comes from text & padding (no width/height) */
  padding: 0.5em 1em;
  /* make sure colors have enough contrast! */
  background-color: #247d6d;
  border: 2px solid transparent;
  font-weight: bold;
  color: #fff;
}

.btn-var_invers {
  background-color: transparent;
  border: 2px solid #247d6d;
}

/* inverse colors on mouse-over and focus */
.btn-var:hover,
.btn-var:focus,
.btn-var_invers:hover,
.btn-var_invers:focus {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-var:active {
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  outline: transparent;
}

.btn-var {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}

/* Firefox: removes the inner border shown on focus */
.btn-var::-moz-focus-inner {
  border: none;
}

@font-face {
  font-family: "Mont";
  src: url("../fonts/mont.woff2") format("woff2"), url("../fonts/mont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kroha";
  src: url("../fonts/kroha.eot?2beea2");
  src: url("../fonts/kroha.eot?2beea2#iefix") format("embedded-opentype"), url("../fonts/kroha.ttf?2beea2") format("truetype"), url("../fonts/kroha.woff?2beea2") format("woff"), url("../fonts/kroha.svg?2beea2#kroha") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="kroha-icon-"],
[class*=" kroha-icon-"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: "kroha" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.2em;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kroha-icon-gift:before {
  content: "\fea01";
}

.kroha-icon-lifebuoy:before {
  content: "\fea02";
}

.kroha-icon-delivery:before {
  content: "\fea03";
}

.kroha-icon-account:before {
  content: "\fea04";
}

.kroha-icon-map:before {
  content: "\fea05";
}

.kroha-icon-search:before {
  content: "\fea06";
}

.kroha-icon-call:before {
  content: "\fea07";
}

.kroha-icon-basket:before {
  content: "\fea08";
}

.kroha-icon-love-it:before {
  content: "\fea09";
}

.kroha-icon-new:before {
  content: "\fea10";
}

.kroha-icon-event:before {
  content: "\fea11";
}

.kroha-icon-lightning:before {
  content: "\fea12";
}

.kroha-icon-cat1:before {
  content: "\fea13";
}

.kroha-icon-cat2:before {
  content: "\fea14";
}

.kroha-icon-cat3:before {
  content: "\fea15";
}

.kroha-icon-cat4:before {
  content: "\fea16";
}

.kroha-icon-cat5:before {
  content: "\fea17";
}

.kroha-icon-cat6:before {
  content: "\fea18";
}

.kroha-icon-cat7:before {
  content: "\fea19";
}

.kroha-icon-cat8:before {
  content: "\fea20";
}

.kroha-icon-guarantee:before {
  content: "\fea21";
}

.kroha-icon-help:before {
  content: "\fea22";
}

.kroha-icon-sale:before {
  content: "\fea23";
}

.kroha-icon-compare:before {
  content: "\fea24";
}

.kroha-icon-comment:before {
  content: "\fea25";
}

.kroha-icon-phone:before {
  content: "\fea26";
}

.kroha-icon-mail:before {
  content: "\fea27";
}

.kroha-icon-coordinate:before {
  content: "\fea28";
}

.kroha-icon-call2:before {
  content: "\fea29";
}

.kroha-icon-send:before {
  content: "\fea30";
}

.kroha-icon-fb:before {
  content: "\fea31";
}

.kroha-icon-tw:before {
  content: "\fea32";
}

.kroha-icon-inst:before {
  content: "\fea33";
}

.kroha-icon-vk:before {
  content: "\fea34";
}

html,
body,
main,
section {
  position: relative;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Mont", Arial, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
}

section,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul,
li {
  display: block;
  list-style: none;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  color: #ccc;
}

.container {
  position: relative;
}

.row {
  margin: 0;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  font-size: 0.875rem;
  color: #c6c6c6;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #247d6d;
}

.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}

.slick-prev:before {
  content: "❮";
  font-size: 1.875rem;
  color: #c6c6c6;
}

.slick-next:before {
  content: "❯";
  font-size: 1.875rem;
  color: #c6c6c6;
}

.slick-prev {
  left: 25px;
  z-index: 2;
}

.slick-next {
  right: 25px;
}

.hamburger {
  padding: 0;
}

.hamburger-box {
  width: 25px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.product__modal {
  max-width: 99%;
}

.product__modal_item {
  padding: 2rem;
}

.product__modal_close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background: #f6f6f6;
}

.call__modal {
  min-width: 550px;
  min-height: 400px;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  font-size: 2rem;
  color: #c6c6c6;
}

.call__modal_title {
  margin-top: 10px;
  color: #000;
}

.call__modal label {
  font-size: 1.25rem;
}

.call__modal input,
.call__modal textarea {
  font-size: 1rem;
}

.remodal-close {
  left: 95%;
}

.header {
  background: #77c7b3;
}

.header__top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 1.875rem 0 1.25rem;
}

.header__top-menu_item:not(:last-child) {
  margin-right: 3.125rem;
}

.header__top-menu_item:nth-child(4) {
  margin-left: auto;
}

.header__top-menu_item a {
  color: #fff;
  font-weight: 400;
  font-size: 0.875rem;
}

.header__top-menu_item a:hover {
  color: #666;
}

.header__top-menu_icon {
  font-size: 1.25rem;
  font-weight: bold;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  color: #247d6d;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 40px;
}

.header__search_input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
  border: 0;
  border-radius: 0;
  font-size: 1.25rem;
  color: #cbcbcb;
}

.header__search_input:focus {
  outline-color: #77c7b3;
}

.header__search_btn {
  width: 6.25rem;
  height: 3.125rem;
  margin: 0;
  border-radius: 0;
}

.header__search_btn-icon {
  font-size: 2.25rem;
  margin-right: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.header__search_btn:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  color: #fff;
}

.header__contacts_wrap {
  margin-right: 20px;
}

.header__contacts_wrap a {
  display: block;
  color: #fff;
}

.header__contacts_email {
  padding-top: 0.625rem;
}

.header__contacts_btn {
  padding: 0;
  border-radius: 50%;
  border: none;
  background: transparent;
  height: 0;
}

.header__contacts_btn-icon {
  font-size: 5rem;
  margin-right: 0;
  border-radius: 50%;
  color: #247d6d;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation: radial-pulse 1.5s infinite;
          animation: radial-pulse 1.5s infinite;
}

@-webkit-keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes radial-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
  }
  100% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.header__contacts_btn-icon:hover {
  color: #fff;
}

.main {
  position: relative;
}

.main__categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.875rem 2.5rem;
  background: #247d6d;
}

.main__categories_title {
  display: block;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.main__categories_list {
  border: 1px solid #ddd;
}

.main__categories_list--mobile {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -2;
  top: 100%;
  left: 0;
  width: 100%;
  height: 90vh;
  min-width: 300px;
  padding: 1rem;
  overflow-y: scroll;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main__categories_list--mobile.is-active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 10;
}

.main__categories_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.73rem 1rem;
  font-size: 1.25rem;
  border-bottom: 1px solid #ddd;
}

.main__categories_item:hover a span {
  color: #77c7b3;
}

.main__categories_icon {
  font-size: 2.5rem;
  margin-right: 1.5rem;
}

.main__categories_icon.new {
  color: #77c7b3;
}

.main__categories_icon.sale {
  color: #f7777a;
}

.main__categories_icon.top {
  color: #6cadd8;
}

.main__sticky-menu {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  background: #fff;
  z-index: 15;
}

.main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  padding: 0 1.5rem;
}

.main__menu_item {
  font-size: 1.25rem;
}

.main__menu_item:hover a {
  color: #77c7b3;
}

.main__menu_item-basket {
  position: relative;
}

.main__menu_item-basket a {
  display: inline-block;
  margin-top: 7px;
}

.main__menu_item-loveit {
  position: relative;
}

.main__menu_item-loveit a {
  display: inline-block;
  margin-top: 7px;
}

.main__menu_item-icon {
  font-size: 1.5rem;
  font-weight: bold;
}

.main__menu_item-count {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  border-radius: 50%;
  background: #77c7b3;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

.main__menu_item-sum {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  display: inline-block;
  font-size: 1.25rem;
  margin-left: 5px;
}

.main__menu_search {
  display: none;
  margin-right: 0;
}

.main__menu_search input {
  height: 30px;
  padding: 0;
  padding-left: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #f8f8f8;
}

.main__menu_search input:focus {
  outline-color: #77c7b3;
}

.main__menu_search .header__search_btn {
  padding: 0;
  width: 30px;
  height: 30px;
}

.main__menu_search .header__search_btn-icon {
  font-size: 1.5rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main__menu_wrapper {
  height: 100%;
  border-bottom: 1px solid #ccc;
}

.main__slider {
  width: 100%;
  height: 710px;
  background: url("../img/slide1.jpg") no-repeat;
  background-size: cover;
}

.main__slider_item.is-active {
  opacity: 0.5;
}

.main__slider_content {
  padding-left: 3.125rem;
  padding-top: 3.75rem;
}

.main__slider_title {
  margin: 1.5rem 0;
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
}

.main__slider_subtitle {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.main__slider_btn {
  width: 15.625rem;
  margin-right: 1.25rem;
  margin-bottom: 20px;
  padding: 1rem 0;
  border-radius: 0;
  text-align: center;
}

.main__slider_btn + button {
  margin-right: 0;
}

.features {
  margin: 110px 0;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item p {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.features__item_icon {
  font-size: 4rem;
  color: #247d6d;
}

.grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 350px 275px;
      grid-template-rows: 350px 275px;
      grid-template-areas: "a b c c" "a d d d";
  grid-gap: 25px;
}

.grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 45px;
  text-transform: uppercase;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.grid__item .season {
  margin-top: auto;
  font-size: 1.875rem;
  font-weight: bold;
  color: #fff;
}

.grid__item .category {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #f7777a;
}

.grid__item .link {
  display: block;
  margin-top: 0.625rem;
  font-size: 1.25rem;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grid__item .link::before {
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "◀";
  margin-right: 10px;
  font-size: 1.25rem;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.grid__item .link:hover::before {
  color: #f7777a;
}

.grid__item:hover {
  background-size: 110% 110%;
}

.grid__item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: a;
  text-align: center;
  background-image: url("../img/grid1.jpg");
}

.grid__item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
  text-align: right;
  background-image: url("../img/grid2.jpg");
}

.grid__item:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: c;
  text-align: right;
  background-image: url("../img/grid3.jpg");
}

.grid__item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: d;
  background-image: url("../img/grid4.jpg");
}

.section__title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.section__subtitle {
  font-size: 1.875rem;
  font-weight: bold;
  color: #77c7b3;
}

.product__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__card_content {
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  font-size: 1.25rem;
  text-align: center;
}

.product__card_label {
  margin-top: 10px;
}

.product__card_stars {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fad501;
}

.product__card_price {
  color: red;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product__card_priceOld {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.product__card_img {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #f8f8f8;
}

.product__card_img:hover {
  cursor: pointer;
}

.product__card_img img {
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  width: 250px;
}

.product__card_popup-btn {
  opacity: 0;
  position: absolute;
  min-width: 200px;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #000;
  background: #fff;
  border: none;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product__card_basket-btn {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  border: 0;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product__card_loveIt-btn, .product__card_compare-btn {
  opacity: 0;
  position: absolute;
  padding: 0.1rem 0.4rem;
  bottom: 0;
  border: none;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: bold;
  color: #000;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.product__card_loveIt-btn i, .product__card_compare-btn i {
  padding-top: 0.3rem;
  margin-right: 0;
}

.product__card_loveIt-btn {
  left: 23%;
}

.product__card_compare-btn {
  right: 23%;
}

.product__card:hover .product__card_label a {
  color: #77c7b3;
}

.product__card:hover .product__card_price,
.product__card:hover .product__card_priceOld {
  opacity: 0;
}

.product__card:hover .product__card_popup-btn,
.product__card:hover .product__card_basket-btn,
.product__card:hover .product__card_loveIt-btn,
.product__card:hover .product__card_compare-btn {
  opacity: 1;
  z-index: 10;
}

.special {
  margin-top: 50px;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background: #f8f8f8;
}

.special__slider_content {
  max-width: 180px;
  font-size: 1.25rem;
}

.special__slider_content-left {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.special__slider_content-right {
  position: relative;
  margin-left: 30px;
  max-width: 300px;
}

.special__slider_desc {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.special__slider-left {
  height: 100%;
}

.special__slider-left_item {
  height: 100%;
  position: relative;
  padding: 2rem;
  text-align: center;
  background: #fff;
}

.special__slider-left_item::before {
  position: absolute;
  width: 88px;
  height: 40px;
  top: 0;
  left: 0;
  content: "Sale";
  padding-top: 10px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #f7777a;
}

.special__slider-left_wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special__slider-left_img {
  background: #fff;
}

.special__slider-left .product__card_basket-btn,
.special__slider-left .product__card_loveIt-btn,
.special__slider-left .product__card_compare-btn {
  bottom: 50px;
}

.special__slider-left .product__card_loveIt-btn {
  left: 27%;
}

.special__slider-left .product__card_compare-btn {
  right: 27%;
}

.special__slider-right {
  height: 100%;
}

.special__slider-right_wrapper {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.special__slider-right_wrapper::before {
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  top: 5%;
  left: 0;
  content: "-50%";
  border-radius: 50%;
  padding-top: 20px;
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: #77c7b3;
}

.special__slider-right_item {
  height: 100%;
  padding: 2rem 6rem;
  background: #fff;
}

.special__slider-right_item .product__card_popup-btn {
  top: 45%;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.special__slider-right_item .product__card_basket-btn,
.special__slider-right_item .product__card_loveIt-btn,
.special__slider-right_item .product__card_compare-btn {
  bottom: 140px;
}

.special__slider-right_item .product__card_basket-btn {
  left: 17%;
  margin-left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.special__slider-right_item .product__card_loveIt-btn {
  left: 0;
}

.special__slider-right_item .product__card_compare-btn {
  left: 58%;
}

.special__slider-right_item:hover .product__card_label a {
  color: #77c7b3;
}

.special__slider-right_item:hover .product__card_popup-btn,
.special__slider-right_item:hover .product__card_basket-btn,
.special__slider-right_item:hover .product__card_loveIt-btn,
.special__slider-right_item:hover .product__card_compare-btn {
  opacity: 1;
  z-index: 10;
}

.special__slider-right_img {
  position: relative;
}

.special__slider-right_img img {
  margin: 0 auto;
}

.best {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.best__categories {
  margin-bottom: 50px;
  text-align: center;
}

.best__categories_btn {
  padding: 21px 35px;
  font-size: 1.125rem;
  color: #000;
  text-transform: uppercase;
  background: #f8f8f8;
  border: none;
}

.best__categories_btn + button {
  margin-left: 10px;
}

.best__categories_btn.active {
  background: #77c7b3;
}

.best__slider_item {
  padding: 0px 65px;
}

.banner {
  margin: 100px 0;
  padding: 5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: 10px solid #c5e6d6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner__title {
  font-size: 4.625rem;
  color: #77c7b3;
}

.banner__subtitle {
  font-size: 2.625rem;
}

.banner__subtitle span {
  color: #f7777a;
}

.banner__subtitle a {
  color: #c6c6c6;
}

.banner:hover {
  border-color: #77c7b3;
}

.banner-toys {
  padding: 125px 0;
  background: url(/img/sale-blog.png) 0 0 no-repeat;
  background-size: cover;
  background-position: 50%;
}

.banner-toys__title {
  text-align: left;
  text-transform: capitalize;
  color: #77c7b3;
}

.banner-toys__subtitle {
  color: #fff;
  text-transform: uppercase;
}

.banner-toys__desc {
  max-width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.banner-toys__btn {
  margin-top: 50px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.banner-toys__btn:hover {
  color: #247d6d;
  background: #fff;
}

.news {
  padding: 70px 0;
}

.news__subtitle {
  margin-top: 35px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #000;
  text-transform: none;
}

.news__item {
  font-size: 1.5rem;
}

.news__item_img {
  overflow: hidden;
}

.news__item_img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.news__item_category {
  margin-top: 40px;
  color: #77c7b3;
}

.news__item_title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}

.news__item_date {
  margin-top: 20px;
}

.news__item:hover {
  cursor: pointer;
}

.news__item:hover .news__item_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news__item:hover .news__item_title {
  text-decoration: underline;
}

.brands__slider {
  margin: 70px 0;
}

.brands__slider_item img {
  margin: 0 auto;
  width: 50%;
}

.rewiews {
  padding: 85px 0;
  background: #f8f8f8;
}

.rewiews__slider_avatar {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.rewiews__slider_stars {
  text-align: center;
}

.rewiews__slider .slick-dots {
  bottom: initial;
}

.rewiews__insta_title {
  text-transform: lowercase;
}

.rewiews__insta_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
}

.rewiews__insta_item {
  position: relative;
  border-radius: 0;
  text-align: center;
  padding: 5px;
}

.rewiews__insta_item img {
  display: inline-block;
}

.rewiews__insta_item::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  content: "\fea06";
  padding-top: 40%;
  font-family: "kroha";
  color: #fff;
  font-size: 2.2rem;
  background: rgba(75, 216, 181, 0.6);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.rewiews__insta_item:hover::before {
  opacity: 1;
}

.footer {
  padding-top: 110px;
  min-height: 50vh;
  background: #333;
}

.footer__features {
  margin: 0;
  padding-bottom: 110px;
  border-bottom: 1px solid #c6c6c6;
}

.footer__features_item {
  color: #fff;
}

.footer__lists {
  margin-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #c6c6c6;
}

.footer__list li + li {
  margin-top: 10px;
}

.footer__list a {
  font-size: 1.25rem;
  color: #fff;
}

.footer__list a:hover {
  color: #77c7b3;
}

.footer__title {
  margin-bottom: 60px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #77c7b3;
  text-transform: uppercase;
}

.footer__contacts li + li {
  margin-top: 30px;
}

.footer__contacts_icon {
  padding-top: 5px;
  margin-right: 1.7rem;
}

.footer__social_item {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
}

.footer__social_item + .footer__social_item {
  margin-top: 0;
  margin-left: 35px;
}

.footer__social_icon {
  font-size: 2rem;
}

.footer__emails {
  padding: 25px 0;
  border-bottom: 1px solid #c6c6c6;
}

.footer__emails_desc {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  font-size: 1.25rem;
  color: #fff;
}

.footer__emails_desc a {
  color: #247d6d;
}

.footer__emails_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__emails label {
  position: relative;
}

.footer__emails label::before {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 0.55rem;
  left: 1.5rem;
  font-family: "kroha";
  font-size: 2rem;
  font-weight: bold;
  content: "\fea27";
}

.footer__emails_input {
  max-width: 65%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.063rem;
  padding-left: 4.688rem;
  font-size: 1.25rem;
}

.footer__emails_input::-webkit-input-placeholder {
  color: #000;
}

.footer__emails_input:-ms-input-placeholder {
  color: #000;
}

.footer__emails_input::-ms-input-placeholder {
  color: #000;
}

.footer__emails_input::placeholder {
  color: #000;
}

.footer__emails_btn {
  margin: 0;
  padding: 1.063rem;
  border: none;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.footer__copy {
  position: relative;
  width: 100%;
  margin: 30px 0;
  font-size: 1.25rem;
  text-align: center;
  color: #fff;
}

.footer__copy a {
  color: #247d6d;
}

.up-btn {
  position: absolute;
  right: 3rem;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff !important;
  background: #247d6d;
  text-align: center;
  padding-top: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.6;
}

.up-btn:hover {
  opacity: 1;
}

.page-header {
  padding: 50px 0 50px 40px;
  background: #f8f8f8;
}

.page-header__title {
  font-size: 1.875rem;
}

.page-header__breadcrumbs a {
  display: inline-block;
  font-size: 1.25rem;
}

.page-header__breadcrumbs a:not(:last-child) {
  margin-right: 25px;
}

.page-header__breadcrumbs a:not(:last-child)::after {
  content: ">";
  width: 8px;
  height: 8px;
  margin-left: 25px;
}

.page-header__breadcrumbs a.is-active {
  color: #77c7b3;
}

.single-product {
  padding: 50px 0 65px;
}

.single-product__slider_item {
  max-height: 910px;
  background: #f8f8f8;
}

.single-product__slider-nav {
  margin-top: 30px;
}

.single-product__slider-nav .slick-slide {
  text-align: center;
}

.single-product__slider-nav .single-product__slider_item {
  max-width: 135px;
  height: 170px;
}

.single-product__slider-nav .single-product__slider_item img {
  margin: 20% auto;
}

.single-product__slider-nav .slick-prev {
  left: 0;
}

.single-product__slider-nav .slick-prev::before {
  opacity: 1;
  padding: 0 5px 5px 0;
  background: #fff;
}

.single-product__slider-nav .slick-next {
  right: 0;
}

.single-product__slider-nav .slick-next::before {
  opacity: 1;
  padding: 0 0 5px 5px;
  background: #fff;
}

.single-product__slider-nav .slick-current .single-product__slider_item {
  border: 1px solid rgba(119, 199, 179, 0.4);
}

.single-product__card_title {
  font-size: 2.25rem;
  font-weight: bold;
  color: #77c7b3;
}

.single-product__card_category {
  font-size: 1.45rem;
}

.single-product__card_stars {
  font-size: 1.5rem;
}

.single-product__card span {
  font-size: 2.25rem;
}

.single-product__card_desc {
  font-size: 1.125rem;
  font-weight: 400;
}

.single-product__card_desc p {
  text-indent: 10px;
}

.single-product__card_colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  font-size: 1.5rem;
}

.single-product__card_colors a {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-left: 30px;
  background: #000;
}

.single-product__card_colors a:nth-child(1) {
  border: 1px solid #000;
  background: #fff;
}

.single-product__card_colors a:nth-child(2) {
  background: red;
}

.single-product__card_colors a:nth-child(3) {
  background: yellowgreen;
}

.single-product__card_colors a:nth-child(4) {
  background: blueviolet;
}

.single-product__card_colors a:nth-child(5) {
  background: green;
}

.single-product__card_sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  font-size: 1.5rem;
}

.single-product__card_sizes a {
  margin-left: 30px;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.single-product__card_counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.single-product__card_counter input {
  padding: 30px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border: 1px solid #c6c6c6;
  -moz-appearance: textfield;
}

.single-product__card_basket-btn {
  margin: 0;
  margin-left: 30px;
  padding: 31px 80px;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background: #247d6d;
}

.single-product__card_loveIt-btn, .single-product__card_compare-btn {
  margin-top: 20px;
  font-size: 1.5rem;
  color: #000;
  background: #fff;
}

.single-product__card_compare-btn {
  margin-left: 10px;
}

.single-product__card_social {
  margin-top: 30px;
  font-size: 1.5rem;
}

.single-product__tabs {
  margin-top: 80px;
}

.single-product__tabs .nav-item {
  padding: 0px 20px;
}

.single-product__tabs .nav-link {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #c6c6c6;
  border-radius: 0;
}

.single-product__tabs .nav-link.active {
  font-weight: bold;
  color: #000;
  background: #fff;
  border-bottom: 2px solid #247d6d;
}

.single-product__tabs .tab-content {
  margin-top: 50px;
}

.single-product__tabs .tab-pane {
  font-size: 1.5rem;
}

.single-product__tabs .tab-pane p:not(:first-child) {
  margin: 0.75rem 0;
}

.single-product__tabs .tab-title {
  margin-bottom: 50px;
  font-size: 2.125rem;
  text-transform: uppercase;
  color: #c6c6c6;
}

.single-product__related {
  padding: 50px 0 65px;
}

.single-product__related_title {
  font-size: 2.75rem;
}

.single-product__related .product__card_popup-btn {
  font-size: 0.875rem;
}

.single-product__related .product__card_img img {
  display: block;
}

@media screen and (max-width: 1200px) {
  .single-product__card_counter input {
    padding: 0px 20px;
  }
  .single-product__card_basket-btn {
    padding: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .single-product__card {
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .single-product__card_colors a {
    margin: 10px;
    margin-top: 0;
  }
  .single-product__card_sizes a {
    margin: 10px;
    margin-top: 0;
  }
  .single-product__card_counter input {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .single-product__card_basket-btn {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
  .single-product__related .product__card {
    margin-top: 40px;
  }
  .single-product__tabs .nav-item {
    padding: 0px 10px;
  }
  .single-product__tabs .nav-link {
    font-size: 0.875rem;
  }
}

.filter {
  padding-top: 30px;
  padding-right: 35px;
  border-right: 1px solid #eee;
}

.filter__title {
  margin-top: 45px;
  margin-left: 28px;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__category {
  position: relative;
  margin-top: 20px;
}

.filter__category_collapse .card {
  border: none;
  padding: 0.5rem;
}

.filter__category_collapse-btn {
  position: relative;
}

.filter__category_collapse-btn:hover, .filter__category_collapse-btn:active {
  text-decoration: none;
  color: #000;
}

.filter__category_collapse-btn::after {
  content: "-";
  position: absolute;
  top: -5px;
  right: 5px;
  width: 10px;
  height: 10px;
  font-size: 1.7rem;
  line-height: 1;
  color: #000;
}

.filter__category_collapse-btn.collapsed::after {
  content: "+";
}

.filter__category_list {
  padding: 0;
}

.filter__category_item {
  display: block;
  margin: 12px 0;
}

.filter__category_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__category_checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__category_checkbox label {
  padding-left: 8px;
  text-transform: uppercase;
}

.filter__category_checkbox span {
  margin-left: auto;
}

.filter__category_colors {
  display: block;
  margin-top: 60px;
}

.filter__category_colors--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.filter__category_colors a {
  width: 30px;
  height: 30px;
  margin-left: 0;
}

.filter__category_dropdown {
  margin-top: 40px;
}

.filter__category_dropdown_btn {
  margin-top: 20px;
  width: 100%;
  padding: 8px;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  border-color: #247d6d;
}

.filter__category_dropdown_btn:active, .filter__category_dropdown_btn:focus {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(119, 199, 179, 0.5);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(119, 199, 179, 0.5);
}

.filter__category_dropdown .dropdown-menu {
  width: 100%;
}

.filter__category_dropdown .dropdown-menu a {
  padding: 8px;
  padding-left: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter__tablet_btn {
  display: none;
  width: 100%;
  margin-top: 5px;
  color: #247d6d;
  background: #fff;
  border-color: #77c7b3;
  border-radius: 5px;
}

.filter__tablet_btn:hover, .filter__tablet_btn:active {
  color: #fff;
  background: #77c7b3;
}

.filter__collapse .card {
  padding: 0;
  border: 0;
}

.catalog__filter label {
  padding-top: 3px;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(119, 199, 179, 0.5);
          box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(119, 199, 179, 0.5);
}

.custom-control-input:active ~ .custom-control-label::before {
  background: rgba(119, 199, 179, 0.3);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #247d6d;
}

#slider-ui {
  margin-top: 30px;
}

.noUi-target {
  height: 2px;
  background: #c6c6c6;
  border: 0;
  cursor: pointer;
}

.noUi-horizontal .noUi-handle {
  top: -10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  background: #fff;
  cursor: pointer;
}

.noUi-handle::before,
.noUi-handle::after {
  opacity: 0;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -120%;
}

.noUi-tooltip {
  border: none;
  background: none;
  padding: 0;
  font-weight: bold;
}

.slider-values_wrap {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-values_wrap span {
  font-size: 1.125rem;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #77c7b3;
}

.catalog__grid .row {
  margin-bottom: 50px;
}

.catalog__grid_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 1rem;
}

.catalog__grid_header span {
  margin: 0px 10px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.catalog__grid_sort_title {
  margin-right: 30px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.catalog__grid_sort_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__grid .product__card {
  margin-top: 40px;
}

.catalog__grid .product__card_content {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .filter__category_title {
    font-size: 0.875rem;
  }
  .filter__category_dropdown_btn {
    font-size: 1rem;
  }
  .filter__category_dropdown_btn a {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 992px) {
  .catalog__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 0;
    padding-bottom: 20px;
    border-right: none;
    border-bottom: 1px solid #c6c6c6;
  }
  .filter__category {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .filter__category_colors--wrapper a {
    margin-right: 5px;
  }
  .filter__tablet_btn {
    display: block;
  }
  .catalog__grid_header {
    margin-top: 30px;
  }
}

@media screen and (max-width: 768px) {
  .filter__category {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media screen and (max-width: 576px) {
  .filter__category {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .filter__category_title {
    font-size: 1.125rem;
  }
}

.basket-page {
  padding: 30px 0;
}

.basket-page__table-header {
  padding: 1rem 0;
  background: #f8f8f8;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

.basket-page__product_row {
  padding: 1.5rem 0;
  background: #fff;
  border: 1px solid #f8f8f8;
  border-top: none;
}

.basket-page__product_row p {
  font-size: 1.125rem;
  font-weight: bold;
}

.basket-page__product_img {
  width: 120px;
  margin-left: 10px;
  background: #f8f8f8;
}

.basket-page__product_img img {
  padding-top: 7px;
}

.basket-page__product_name {
  margin-left: 70px;
}

.basket-page__product_quantity {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid #f8f8f8;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
}

.basket__popup_list,
.loveit__popup_list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 25px);
  right: 0;
  min-width: 350px;
  padding: 1rem;
  background: #fff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.basket__popup_list.is-active,
.loveit__popup_list.is-active {
  visibility: visible;
  opacity: 1;
}

.basket__popup_title,
.loveit__popup_title {
  padding: 0.5rem 0;
  border-bottom: 1px solid #c6c6c6;
}

.basket__popup_item,
.loveit__popup_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basket__popup_item:not(:first-child),
.loveit__popup_item:not(:first-child) {
  margin-top: 20px;
}

.basket__popup_img,
.loveit__popup_img {
  width: 90px;
  margin-right: 15px;
  padding: 0.75rem 0.25rem;
  border: 1px solid #f8f8f8;
  text-align: center;
}

.basket__popup_img img,
.loveit__popup_img img {
  max-width: 80px;
}

.basket__popup_desc,
.loveit__popup_desc {
  max-width: 150px;
  font-size: 0.875rem;
}

.basket__popup_desc p,
.loveit__popup_desc p {
  margin-top: 10px;
}

.basket__popup_icon,
.loveit__popup_icon {
  margin-left: auto;
  cursor: pointer;
}

.basket__popup_btn,
.loveit__popup_btn {
  margin: 20px auto 0;
  font-size: 0.875rem;
}

.basket__popup_btn--wrap,
.loveit__popup_btn--wrap {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.basket__popup_btn--wrap button,
.loveit__popup_btn--wrap button {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  font-size: 0.875rem;
  color: #fff;
}

.basket__popup_btn--wrap button:not(:first-child),
.loveit__popup_btn--wrap button:not(:first-child) {
  margin-left: auto;
  background: #77c7b3;
}

.loveit__popup_btn {
  display: block;
}

@media screen and (max-width: 1200px) {
  .basket-page__product_name {
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .basket-page__product_row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .basket-page__product_name {
    max-width: 150px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 576px) {
  .basket-page__table-header {
    font-size: 0.875rem;
  }
  .basket-page__product_view {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .basket-page__product_img {
    margin-left: 0;
  }
  .basket-page__product_name {
    margin-left: 0;
    margin-top: 15px;
    max-width: 100px;
    text-align: center;
  }
  .basket-page__product_row div {
    padding: 0;
  }
  .basket-page__product_row input {
    width: 40px;
  }
}

@media screen and (max-width: 400px) {
  .basket-page__table-header {
    font-size: 0.75rem;
  }
}

.account__signup-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0;
  padding: 60px 40px 90px;
  border: 1px solid #c6c6c6;
}

.account__signup-card .form-row {
  margin-top: 30px;
  margin-left: 10px;
}

.account__title {
  margin-bottom: 30px;
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
}

.account input {
  display: block;
  width: 100%;
  padding: 32px 53px;
  font-size: 1.25rem;
  background: #f8f8f8;
}

.account input:not(:first-of-type) {
  margin-top: 20px;
}

.account input[type="submit"] {
  margin-top: 40px;
  background: #247d6d;
}

.account input:focus {
  outline-color: #77c7b3;
}

.account label {
  padding-top: 5px;
  color: #77c7b3;
  text-transform: lowercase;
}

.account__desc {
  margin-top: 40px;
  min-height: 175px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 25.75px;
  text-align: center;
}

.about {
  padding: 50px 0;
}

.about__title {
  margin-bottom: 50px;
  font-size: 2.125rem;
  font-weight: bold;
}

.about__subtitle {
  font-size: 1.25rem;
}

.about__slider {
  margin: 50px 0;
  text-align: center;
}

.about__desc {
  font-size: 1.125rem;
  text-align: justify;
}

.contacts {
  padding-top: 60px;
}

.contacts__item {
  text-align: center;
}

.contacts__item_icon {
  margin-right: 0;
  font-size: 8rem;
  font-weight: bold;
  color: #77c7b3;
}

.contacts__item_title {
  font-size: 1.875rem;
  font-weight: bold;
}

.contacts__item_desc {
  margin-top: 30px;
  font-size: 1.25rem;
  font-weight: bold;
}

.contacts__title {
  margin-top: 50px;
  font-size: 1.875rem;
  font-weight: bold;
  color: #77c7b3;
}

.contacts__desc {
  margin-top: 70px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #c6c6c6;
}

.contacts__map {
  margin: 20px 0px 40px;
}

.contacts label {
  margin-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 30%;
          flex: 1 30%;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.contacts label:not(:last-child) {
  margin-right: 30px;
}

.contacts label[for="message"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
}

.contacts input {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: 2px solid #77c7b3;
}

.contacts textarea {
  margin-top: 10px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #77c7b3;
}

.contacts input[type="submit"] {
  margin: 40px 0;
  padding: 1rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background: #247d6d;
  border: transparent;
}

.main__menu_wrapper .header__top-menu_item {
  display: none;
}

@media screen and (max-width: 576px) {
  .contacts label {
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
  }
  .contacts label:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .main__categories {
    padding-left: 0;
    padding-right: 0;
  }
  .main__categories_title {
    display: none;
  }
  .main__categories button {
    margin: 0px auto;
  }
  .header__top-menu {
    display: none;
  }
  .header__top-menu_icon {
    font-size: 1.5rem;
  }
  .main__menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__menu .header__top-menu_item {
    display: block;
    margin: 0px 10px;
  }
  .main__menu .header__top-menu_item span {
    display: none;
  }
  .main__menu .main__menu_item {
    display: none;
  }
  .main__menu .main__menu_item-basket,
  .main__menu .main__menu_item-loveit {
    display: block;
  }
  .main__menu_sticky .main__menu_item-basket {
    margin-left: 0;
  }
  .header__search input {
    max-width: 150px;
  }
  header .header__search {
    display: none;
  }
  .main__menu_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .grid {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .header__search {
    margin-right: 0;
  }
  .page-header {
    padding: 50px 0;
  }
  .basket__popup_list,
  .loveit__popup_list {
    top: calc(100% + 21px);
  }
  .features {
    margin: 0;
    margin-bottom: 40px;
  }
  .features__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .special__slider-right {
    margin-top: 40px;
  }
  .news {
    padding-bottom: 0;
  }
  .news__item {
    margin-bottom: 40px;
  }
  .news__item_img {
    text-align: center;
  }
  .news__item_date {
    font-size: 1.25rem;
  }
  .features__item {
    margin-top: 40px;
  }
  .footer__lists_block {
    margin-top: 40px;
    text-align: center;
  }
  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__emails_desc {
    text-align: center;
  }
  .footer__emails_wrap {
    margin-top: 20px;
  }
  .footer__emails_input {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .basket__popup_list,
  .loveit__popup_list {
    top: 100%;
  }
  .main__categories_list--mobile {
    -webkit-transform: none;
            transform: none;
  }
  .grid {
    display: none;
  }
  .special__slider-right_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .special__slider_content-right {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .call__modal {
    min-width: 0;
    max-width: 99%;
  }
  .remodal-close {
    left: 93%;
  }
  .basket__popup_list {
    left: 0;
  }
  .basket__popup_list,
  .loveit__popup_list {
    width: 250px;
  }
  .header__contacts {
    margin: 20px 0;
  }
  .main__menu {
    padding: 1rem;
  }
  .main__menu_search-wrap {
    -webkit-box-ordinal-group: 101;
        -ms-flex-order: 100;
            order: 100;
    margin-top: 10px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .main__menu_search-wrap input {
    max-width: initial;
  }
  .main__menu_item-basket {
    margin-top: 10px;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .main__menu_item-loveit {
    margin-top: 10px;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .main__slider_content {
    padding-left: 2rem;
  }
  .best__slider .slick-dots,
  .brands__slider .slick-dots {
    bottom: -25px;
  }
  .special__slider_content-right {
    margin-left: 0;
  }
  .best__categories_btn {
    padding: 0.5rem;
  }
  .banner {
    padding: 4rem;
  }
  .banner__title {
    font-size: 3.625rem;
  }
  .banner__subtitle {
    font-size: 2rem;
  }
  .brands__slider {
    margin: 0;
  }
  .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__copy p {
    font-size: 0.875rem;
  }
  .up-btn {
    right: 1rem;
    padding-top: 17px;
  }
}

@media screen and (max-width: 370px) {
  .main__slider_btn {
    display: block;
    padding: 1rem;
  }
  .main__slider_btn + button {
    margin-left: 0;
    margin-top: 20px;
  }
  .footer__emails_input {
    max-width: 60%;
  }
}
