@charset "UTF-8";
/* open-sans-300 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/open-sans-v15-cyrillic_latin-300.woff2") format("woff2"), url("fonts/open-sans-v15-cyrillic_latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/open-sans-v15-cyrillic_latin-regular.woff2") format("woff2"), url("fonts/open-sans-v15-cyrillic_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-800 - cyrillic_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("fonts/open-sans-v15-cyrillic_latin-800.woff2") format("woff2"), url("fonts/open-sans-v15-cyrillic_latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.btn-var {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  /* default for <button>, but useful for <a> */
  display: inline-block;
  text-align: center;
  text-decoration: none;
  /* create a small space when buttons wrap on 2 lines */
  /* invisible border (will be colored on hover/focus) */
  /* size comes from text & padding (no width/height) */
  padding: 1em 1.5em;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 25px;
  -webkit-box-shadow: 0 15px 48px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 48px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* inverse colors on mouse-over and focus */
.btn-var:hover,
.btn-var:focus,
.btn-var_invers:hover,
.btn-var_invers:focus {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-var:active {
  -webkit-box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background: #55a2de;
  color: #fff;
}

.btn-var {
  /* ... */
  /* all browsers: remove the default outline since
      we are rolling our own focus styles */
  outline: none;
}

/* Firefox: removes the inner border shown on focus */
.btn-var::-moz-focus-inner {
  border: none;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  font-size: 0.875rem;
  color: #c6c6c6;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  color: #0092e1;
}

.slick-list,
.slick-track,
.slick-slide > div {
  height: 100%;
}

.slick-prev:before {
  content: "❮";
  font-size: 1.875rem;
  color: #c6c6c6;
}

.slick-next:before {
  content: "❯";
  font-size: 1.875rem;
  color: #c6c6c6;
}

.slick-prev {
  left: 25px;
  z-index: 2;
}

.slick-next {
  right: 25px;
}

.hamburger {
  padding: 0;
}

.hamburger-box {
  width: 25px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}

.up-btn {
  position: absolute;
  right: 3rem;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff !important;
  background: #0092e1;
  text-align: center;
  padding-top: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 0.6;
}

.up-btn:hover {
  opacity: 1;
}

html {
  font-family: "Open Sans", Tahoma, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container {
  position: relative;
}

.header {
  min-height: 100vh;
  position: relative;
  background-color: #fff;
  background-image: url(img/svg/bgpattern.svg);
  background-repeat: repeat;
  background-size: 778px 481px;
  -webkit-animation: movebg 20s linear both infinite;
          animation: movebg 20s linear both infinite;
}

.header__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0.8)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 90%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

@keyframes movebg {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 480px;
  }
}

@-webkit-keyframes movebg {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 480px;
  }
}

.header__logo {
  display: block;
}

.header__logo p {
  font-size: 4rem;
}

.header__desc-title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1.5;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4rem 0;
}

.header__menu_item {
  padding: 1.25rem 1.875em;
  border-radius: 25px;
  -webkit-box-shadow: 0 15px 48px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 48px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__menu_item + li {
  margin-left: 1.25em;
}

.header__menu_item:hover {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.header__menu_item:active {
  -webkit-box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  background: #55a2de;
}

.header__menu_item:active a {
  color: #fff;
}

.header__menu_link {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.header__title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 12.5rem;
}

.header__mouse-icon {
  margin-top: 13.25rem;
  opacity: 0.5;
}

.header__letter {
  opacity: 0;
  fill: #488ccc;
  stroke-dasharray: 1000;
  -webkit-animation: anim 3s linear both;
          animation: anim 3s linear both;
}

.header__letter_wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
  position: relative;
}

.header__letter_wrap:not(:last-child) {
  margin-right: 40px;
}

.header__letter_wrap svg {
  height: 5.5vw;
}

.header__letter_wrap svg#letterD {
  height: 5.5vw;
}

.header__letter_wrap svg#letterT {
  height: 5.7vw;
  position: relative;
  z-index: 1;
}

.header__letter_lines {
  opacity: 0;
  fill: none;
  stroke: #000105;
  stroke-width: 4;
  stroke-dasharray: 500;
  -webkit-animation: anim 5s linear 2s both;
          animation: anim 5s linear 2s both;
}

.header__letter_lines--delay {
  -webkit-animation: anim 5s linear 2.5s both;
          animation: anim 5s linear 2.5s both;
}

.header__letter_lines--u, .header__letter_lines--s {
  opacity: 0;
  stroke-dasharray: 15 15;
}

.header__features_wrap {
  position: absolute;
}

.header__features_wrap--linesStart, .header__features_wrap--linesEnd {
  bottom: -70%;
  right: 155%;
}

.header__features_wrap--linesStart svg, .header__features_wrap--linesEnd svg {
  width: 10vw;
  height: 8vw;
}

.header__features_wrap--linesEnd {
  left: 100%;
}

.header__features_wrap--light {
  left: -25%;
  bottom: 96%;
}

.header__features_wrap--light svg {
  width: 5.5vw;
}

.header__features_wrap--chess {
  left: 10%;
  bottom: 99%;
}

.header__features_wrap--chess svg {
  width: 5vw;
}

.header__features_wrap--procent {
  left: 20%;
  top: 120%;
}

.header__features_wrap--procent svg {
  width: 3.5vw;
}

.header__features_wrap--gear {
  top: 110%;
  left: 10%;
}

.header__features_wrap--gear svg {
  width: 3vw;
}

.header__features_wrap--zoom1 {
  top: 100%;
  right: 60%;
}

.header__features_wrap--zoom1 svg {
  width: 4.5vw;
}

.header__features_wrap--zoom2 {
  top: -59%;
  left: 22%;
}

.header__features_wrap--zoom2 svg {
  width: 3vw;
}

.header__features_wrap--clock {
  top: -100%;
  left: -50%;
}

.header__features_wrap--clock svg {
  width: 4vw;
}

.header__features_wrap--key {
  top: 140%;
  right: 120%;
}

.header__features_wrap--key svg {
  width: 4.5vw;
}

.header__features_wrap--transfer {
  top: -25%;
  left: -40%;
}

.header__features_wrap--transfer svg {
  height: 12vw;
}

.header__features_wrap--ball {
  top: -100%;
  left: 0;
}

.header__features_wrap--ball svg {
  width: 1.5vw;
}

.header__features_wrap--envelope {
  bottom: 100%;
  left: 90%;
}

.header__features_wrap--envelope svg {
  width: 4vw;
}

.header__features_wrap--check1 {
  top: 80%;
  right: 10%;
}

.header__features_wrap--check1 svg {
  width: 2vw;
}

.header__features_wrap--gear-mini {
  bottom: -150%;
  left: 0;
}

.header__features_wrap--gear-mini svg {
  width: 1.5vw;
}

.header__features_wrap--check2 {
  top: -110%;
  left: -50%;
}

.header__features_wrap--check2 svg {
  width: 2vw;
}

.header__features_wrap--one {
  top: 80%;
  left: 10%;
}

.header__features_wrap--one svg {
  width: 2.5vw;
}

.header__features_wrap--target {
  top: -69%;
  left: 83%;
}

.header__features_wrap--cash {
  top: 140%;
  right: -10%;
}

.header__features_wrap--cash svg {
  width: 4vw;
}

.header__features--lines {
  fill: none;
  stroke: #272c32;
  stroke-linejoin: bevel;
  stroke-width: 4;
}

.header__features_light {
  fill: #f6cf4f;
  -webkit-animation: lightColor 2s 5s linear infinite;
          animation: lightColor 2s 5s linear infinite;
}

.header__features_light--spiral {
  fill: none;
  stroke: #272c32;
  stroke-width: 4;
  -webkit-animation: lightSpiral 2s 5s linear infinite;
          animation: lightSpiral 2s 5s linear infinite;
}

.header__features_light--strokes {
  stroke-width: 2;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: lightStrokes 2s 5s linear infinite;
          animation: lightStrokes 2s 5s linear infinite;
}

.header__features_chess--circle {
  stroke-dasharray: 6;
  -webkit-animation: chess 10s ease both infinite;
          animation: chess 10s ease both infinite;
}

.header__features_procent {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  stroke-dasharray: 500;
  -webkit-animation: anim 5s ease both;
          animation: anim 5s ease both;
}

.header__features_procent--top {
  -webkit-transform: translate(-5%, -5%);
          transform: translate(-5%, -5%);
  -webkit-animation: moving 2.5s ease-in-out both infinite;
          animation: moving 2.5s ease-in-out both infinite;
}

.header__features_procent--bottom {
  -webkit-transform: translate(5%, 5%);
          transform: translate(5%, 5%);
  -webkit-animation: moving 2.5s ease-in-out both infinite;
          animation: moving 2.5s ease-in-out both infinite;
}

.header__features_zoom1 {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 70% 30%;
          transform-origin: 70% 30%;
  -webkit-animation: zoomLike 3s ease-in-out both infinite;
          animation: zoomLike 3s ease-in-out both infinite;
}

.header__features_zoom2 {
  stroke: #44b3d9;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: 50% 35%;
          transform-origin: 50% 35%;
  -webkit-animation: zoom 5s ease both infinite;
          animation: zoom 5s ease both infinite;
}

.header__features_linesStart {
  stroke-dasharray: 500;
  -webkit-animation: anim 5s ease both;
          animation: anim 5s ease both;
}

.header__features_transfer--path {
  -webkit-animation: anim 15s 1s linear both infinite;
          animation: anim 15s 1s linear both infinite;
}

.header__features_transfer--point {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: 25% 10%;
          transform-origin: 25% 10%;
  -webkit-animation: flash 2s 5s ease both infinite;
          animation: flash 2s 5s ease both infinite;
}

.header__features_key {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-animation: keyRotate 5s 5s linear both infinite;
          animation: keyRotate 5s 5s linear both infinite;
}

.header__features_envelope {
  stroke-dasharray: 600;
  -webkit-animation: anim 3s 3s ease both;
          animation: anim 3s 3s ease both;
}

.header__features_envelope--bg {
  opacity: 0;
  -webkit-animation: anim 5s 3s ease both;
          animation: anim 5s 3s ease both;
}

.header__features_target--arrow {
  opacity: 0;
  -webkit-transform: translate(20%, -20%);
          transform: translate(20%, -20%);
  -webkit-animation: moving-arrow 0.5s 4.5s linear both;
          animation: moving-arrow 0.5s 4.5s linear both;
}

@-webkit-keyframes anim {
  0% {
    stroke-dashoffset: 600;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes anim {
  0% {
    stroke-dashoffset: 600;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes moving {
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moving {
  50% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moving-arrow {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moving-arrow {
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes lightColor {
  50% {
    fill: #ffe100;
  }
}

@keyframes lightColor {
  50% {
    fill: #ffe100;
  }
}

@-webkit-keyframes lightSpiral {
  50% {
    stroke: #fff;
  }
}

@keyframes lightSpiral {
  50% {
    stroke: #fff;
  }
}

@-webkit-keyframes lightStrokes {
  50% {
    stroke-width: 4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lightStrokes {
  50% {
    stroke-width: 4;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes chess {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 200;
  }
}

@keyframes chess {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 200;
  }
}

@-webkit-keyframes zoomLike {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@keyframes zoomLike {
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
}

@-webkit-keyframes zoom {
  50% {
    -webkit-transform: scale(1) rotate(-15deg);
            transform: scale(1) rotate(-15deg);
  }
}

@keyframes zoom {
  50% {
    -webkit-transform: scale(1) rotate(-15deg);
            transform: scale(1) rotate(-15deg);
  }
}

@-webkit-keyframes keyRotate {
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@keyframes keyRotate {
  100% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
}

@-webkit-keyframes flash {
  50% {
    fill: #ffe100;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

@keyframes flash {
  50% {
    fill: #ffe100;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

.features {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background: #f8faff;
}

.features__item {
  text-align: center;
}

.features__icon {
  fill: none;
  width: 120px;
}

.features__icon path {
  fill: none;
  stroke: #0092e1;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.schemes {
  padding: 5rem 0;
  margin-top: 5rem;
}

.schemes__title {
  margin-bottom: 5.5rem;
  font-size: 2.25rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
}

.scheme__content_wrap {
  padding: 50px 40px 0;
}

.scheme__content_title {
  max-width: 12.5rem;
  font-size: 1.875rem;
  line-height: 2.875rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: #0092e1;
  margin-top: 7rem;
}

.scheme__content_desc {
  margin-top: 2.5rem;
  line-height: 1.9rem;
}

.scheme__content_btn {
  margin-top: 3.5rem;
}

@media screen and (max-width: 1200px) {
  .header__menu_item {
    padding: 0.5rem 1rem;
  }
  .header__menu_link {
    font-size: 0.75rem;
  }
  .header__title_wrap {
    width: 65vw;
  }
}

@media screen and (max-width: 992px) {
  .header__menu {
    display: none;
  }
  .header__mouse-icon {
    display: none;
  }
  .header__desc-title {
    font-size: 1.5rem;
  }
  .scheme__content_btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}
